* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: monospace;
    color: white;
}
body {
    width: 100%;
    height: 100%;
    /* overflow-x: hidden; */
    background-color: black;
    padding: 4vh 12vw;
}
header h1 {
    transition: .5s;
    font-size: 2vw;
}
header h1 span {
    color: firebrick;
    margin-left: 1px;
    font-weight: 800;
}
header h1:hover {
    /* transform: translateY(-1vh); */
    scale: 1.2;
}
header {
    width: 100%;
    height: 5vh;
    padding: 1vw;
    /* border: 1px solid rgb(255, 255, 255); */
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
    position: sticky;
    
}
/* header::after {
    content: " "; */
    /* width: 100%; */
    /* height: 2px; */
    /* background-color: white;
} */

header nav ul {
    display: flex;
    justify-content: center;
}
nav ul li {
    text-decoration: none;
    list-style-type: none;
    margin: 1vw;
}
nav ul li a {
    text-decoration: none;
    transition: .5s;
}
nav ul li a:hover {
    font-size: 1.5vh;
    color: firebrick;
}

.main {
    padding: 0 1vw;
    width: 100%;
    height: calc(80vh - 9vh);
    /* border: 1px solid red; */
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.main .welcome {
    width: 60%;
    height: 100%;
    display: inline-fles;
    justify-content: center;
    /* align-content: center; */
    padding-top: 20vh;
    
}
.welcome h2 {
    font-size: 5vw;
    transition: .5s;
}
.welcome h2:hover {
    font-size: 6vw;
}
.welcome h2 span {
    color: firebrick;
}
.welcome p {
    font-size: 1vw;
    font-family: sans-serif;
    margin: 2vh 0;
    opacity: .7;
}
.photo {
    width: 40%;
    height: 100%;
    display: flex;
    justify-content: center;
    /* transform: translateY(4vw); */
    padding-top: 10vh;
    /* padding-left: vw; */
}
.photo img {
    width: 400px;
    height: 400px;
    transition: .5s;
}
.photo img:hover {
    scale: 1.3;
    z-index: 9;
}


.secondslot {
    width: 100%;
    height: 80vh;
    /* background-color: rgb(49, 74, 49); */
}
.secondslot .image-container {
    width: 100%;
    height: 100%;
    padding: 10vh 20vw;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    overflow-x: hidden;
}
.image-container img {
    width: 100%;
    border-radius: 30px;
}